<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='D:\BCA\Sem-6 Project\App_Data\aavishkar_institute.mdf';Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
     
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="102400"/>
  </system.web>
</configuration>
